$bg:rgb(16,16,16);

.banner{
    height: 600px;
    background-color: $bg;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    box-sizing: border-box;

    &::after{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background: $bg;
        opacity: 0.4;
        top: 0;
        left: 0;

    }
h1, p{
    color: white;
    font-size: 4rem;
    width: 50%;
    z-index: 10;
}
p{
    font-size: 1.2rem;
    letter-spacing: 2px;
    word-spacing: 2px;
}



}

.row
{
    padding: 1rem;
    background-color: $bg;
    >h2{
        font-weight: 400;
        margin: 0.3rem;
    }
>div{
    display: flex;
    overflow: auto;
    // justify-content: center;
    
}
}

.card{
    width: 200px;
    cursor: pointer;
    margin: 0.3rem;
    transition: transform 0.5s;

    &:hover{
        transform: translatey(-10px) scale(1.05);
    }
}

.genreBox{
    overflow-x: auto;
    display: flex;
    height: 100px;
    flex: 0%;
    background-color: $bg;
    >a{
        color: black;
        background-color: white;
        padding: 1rem 0;
        text-align: center;
        transition: all 0.5s;
        border-radius: 5px;
        min-width: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        &:hover{
            background-color: rgb(236, 236, 236);
        }
    }
}

